* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  width: 1240px;
}

body {
  font-family: 'Inter', sans-serif;
}

main {
  background-color: #F8F8F8;
  padding-top: 140px;
  min-height: calc(100vh - 140px);
}

header {
  position: fixed;
  background-color: #F8F8F8;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header {
  height: 140px;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #192F85;
  font-family: 'Inter', sans-serif;
  padding: 16px 27px;
  border-radius: 16px;
  background-color: #BFD8FF;
  border: none;
  cursor: pointer;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.breadcrumbs .crumb {
  margin-right: 31px;
}

.breadcrumbs .crumb:last-of-type {
  margin-right: 0;
}

.breadcrumbs .crumb a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #667093;
  font-family: 'Inter', sans-serif;
}

.footer {
  padding: 82px 0 200px 0;
  background-color: #F8F8F8;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  color: #00104B;
  font-family: 'Inter', sans-serif;
  margin-bottom: 90px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__btn {
  border: 1px solid #00104B;
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #00104B;
  font-family: 'Inter', sans-serif;
  padding: 16px 42px;
  background-color: transparent;
}

.promo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 550px;
}

.promo-text {
  width: 50%;
}

.promo-text h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  color: #00104B;
  font-family: 'Inter', sans-serif;
  margin-bottom: 60px;
}

.promo-text__info {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #00104B;
  font-family: 'Inter', sans-serif;
}

.promo-text button {
  margin-top: 72px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F8F8F8;
  font-family: 'Inter', sans-serif;
  width: 387px;
  padding: 25px 0;
  border: none;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, color-stop(-4.78%, #4371DC), color-stop(108.53%, #6D16B2));
  background: linear-gradient(90deg, #4371DC -4.78%, #6D16B2 108.53%);
}

.promo-pic {
  height: 100%;
  position: relative;
}

.promo-pic svg {
  position: absolute;
  top: 33px;
  right: 0;
}

.promo-pic img {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 116px;
  width: 323px;
  height: 457px;
}

.about {
  background-color: #fff;
  padding: 200px 0;
}

.about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 200px;
}

.about__logo {
  background-image: url("/page_i-mediator/img/logo.png");
  background-size: cover;
  width: 500px;
  height: 300px;
}

.about-text {
  width: 85%;
}

.about-text h3 {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: #00104B;
  font-family: 'Inter', sans-serif;
  margin-bottom: 70px;
}

.about-text p {
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #00104B;
  font-family: 'Inter', sans-serif;
}

.about-text__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 72px;
}

.about-text__btn button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F8F8F8;
  font-family: 'Inter', sans-serif;
  width: 387px;
  padding: 25px 0;
  border: none;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, color-stop(-4.78%, #4371DC), color-stop(108.53%, #6D16B2));
  background: linear-gradient(90deg, #4371DC -4.78%, #6D16B2 108.53%);
}

.about-text__btn .btn__info {
  width: 264px;
  margin-left: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #646464;
  font-family: 'Inter', sans-serif;
}

.about__picture {
  background-image: url("/page_i-mediator/img/picture.png");
  background-size: cover;
  height: 700px;
  width: 1360px;
  margin: 0 auto;
  border-radius: 24px;
}

.needs {
  padding: 200px 0 165px 0;
}

.needs-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.needs h3 {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: #00104B;
  font-family: 'Inter', sans-serif;
  text-align: center;
  max-width: 620px;
}

.needs-triangle {
  padding-top: 30px;
  margin-bottom: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.needs-triangle .triangle {
  height: 450px;
  width: 50%;
  background-image: url("/page_i-mediator/img/logo.png");
  background-size: cover;
  position: relative;
}

.needs-triangle .triangle p {
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #00104B;
  font-family: 'Inter', sans-serif;
}

.needs-triangle .left, .needs-triangle .right, .needs-triangle .top {
  position: absolute;
  max-width: 300px;
}

.needs-triangle .left {
  bottom: -65px;
}

.needs-triangle .right {
  bottom: -100px;
  right: -100px;
}

.needs-triangle .top {
  top: 35px;
  left: 30%;
}

.needs-text {
  padding-top: 100px;
  list-style-type: none;
  width: 40%;
}

.needs-text li {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #202020;
  font-family: 'Inter', sans-serif;
  margin-bottom: 32px;
}

.needs-text li:last-of-type {
  margin-bottom: 0;
}

.interference ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.interference li {
  height: 240px;
  width: 488px;
  background-color: #4371DC;
  margin-right: 21px;
  border-radius: 24px;
}

.request, .request-place {
  padding: 200px 0;
  background-color: #fff;
}

.request-wrap, .request-place-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.request-wrap h3, .request-place-wrap h3 {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: #00104B;
  font-family: 'Inter', sans-serif;
  margin-bottom: 70px;
}

.request-info, .request-place-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.request-text, .request-place-text {
  max-width: 60%;
}

.request-text p, .request-place-text p {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #00104B;
  font-family: 'Inter', sans-serif;
  margin-bottom: 70px;
}

.request-text button, .request-place-text button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F8F8F8;
  font-family: 'Inter', sans-serif;
  width: 387px;
  padding: 25px 0;
  border: none;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, color-stop(-4.78%, #4371DC), color-stop(108.53%, #6D16B2));
  background: linear-gradient(90deg, #4371DC -4.78%, #6D16B2 108.53%);
}

.request-pic, .request-place-pic {
  width: 515px;
  height: 347px;
  background-color: #6D16B2;
  position: relative;
  border-radius: 20px;
  margin-top: 27px;
}

.request-pic img, .request-place-pic img {
  position: absolute;
  z-index: 2;
  border-radius: 20px;
  top: -27px;
  right: 16px;
}

.request-place-info {
  padding-bottom: 200px;
}

.request-place-pic {
  width: 317px;
  height: 442px;
  background-color: #6D16B2;
  position: relative;
  border-radius: 20px;
  margin-top: 27px;
}

.request-place-pic img {
  position: absolute;
  z-index: 2;
  border-radius: 20px;
  top: -27px;
  right: 16px;
}

.request-place-text {
  max-width: 65%;
}

.request-place-text__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.request-place-text__btn p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #00104B;
  font-family: 'Inter', sans-serif;
  margin-left: 60px;
  margin-bottom: 0;
  max-width: 300px;
}

.request-place-text__btn button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F8F8F8;
  font-family: 'Inter', sans-serif;
  width: 387px;
  padding: 25px 0;
  border: none;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, color-stop(-4.78%, #4371DC), color-stop(108.53%, #6D16B2));
  background: linear-gradient(90deg, #4371DC -4.78%, #6D16B2 108.53%);
}

.advantages {
  padding: 200px 0;
  background-color: #fff;
}

.advantages-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-wrap h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: #00104B;
  font-family: 'Inter', sans-serif;
  margin-bottom: 70px;
}

.advantages-wrap ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.advantages-item {
  margin-bottom: 60px;
  margin-right: 20px;
}

.advantages-item:nth-of-type(3n) {
  margin-right: 0;
}

.advantages-item__pic {
  height: 240px;
  border-radius: 24px;
  width: 389px;
  background-color: #4371DC;
}

.advantages-item p {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #00104B;
  font-family: 'Inter', sans-serif;
  margin-top: 12px;
  max-width: 389px;
}

.consult {
  padding: 200px 0;
}

.consult-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.consult-description {
  width: 50%;
}

.consult-description h3 {
  font-weight: 500;
  font-size: 48px;
  line-height: 55px;
  color: #00104B;
  font-family: 'Inter', sans-serif;
  margin-bottom: 40px;
}

.consult-description p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #00104B;
  font-family: 'Inter', sans-serif;
  max-width: 380px;
}

.consult-form {
  margin-right: 77px;
}

.consult-form__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 33px;
}

.consult-form__heading img {
  margin-bottom: 9px;
}

.consult-form__heading p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  font-family: 'Inter', sans-serif;
}

.consult-form__heading p:last-of-type {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #646464;
  font-family: 'Inter', sans-serif;
  margin-top: 9px;
}

.form {
  padding: 51px;
  background-color: #fff;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__input {
  border: 1px solid #2D2D2D;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #00104B;
  font-family: 'Inter', sans-serif;
}

.form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #B4B4B4;
  font-family: 'Inter', sans-serif;
}

.form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #B4B4B4;
  font-family: 'Inter', sans-serif;
}

.form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #B4B4B4;
  font-family: 'Inter', sans-serif;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #B4B4B4;
  font-family: 'Inter', sans-serif;
}

.form__textarea {
  resize: none;
  border: 1px solid #2D2D2D;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #00104B;
  font-family: 'Inter', sans-serif;
}

.form__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #B4B4B4;
  font-family: 'Inter', sans-serif;
  max-width: 250px;
}

.form__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #B4B4B4;
  font-family: 'Inter', sans-serif;
  max-width: 250px;
}

.form__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #B4B4B4;
  font-family: 'Inter', sans-serif;
  max-width: 250px;
}

.form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #B4B4B4;
  font-family: 'Inter', sans-serif;
  max-width: 250px;
}

.form__btn {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F8F8F8;
  font-family: 'Inter', sans-serif;
  width: 100%;
  padding: 25px 0;
  border: none;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, color-stop(-4.78%, #4371DC), color-stop(108.53%, #6D16B2));
  background: linear-gradient(90deg, #4371DC -4.78%, #6D16B2 108.53%);
}

.form__agreement {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #B4B4B4;
  font-family: 'Inter', sans-serif;
  text-align: center;
  width: 75%;
  margin-top: 7px;
}

.application {
  background-color: #fff;
}

.application-wrap {
  padding: 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.application-description {
  padding-top: 30px;
  width: 50%;
  margin-right: 70px;
}

.application-description h3 {
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  color: #00104B;
  font-family: 'Inter', sans-serif;
}

.application-description p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #00104B;
  font-family: 'Inter', sans-serif;
  margin-top: 40px;
  max-width: 464px;
}

.news {
  padding-bottom: 120px;
  background-color: #fff;
}

.news-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-wrap h3 {
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  color: #00104B;
  font-family: 'Inter', sans-serif;
  margin-bottom: 70px;
}

.news-container {
  width: 100%;
  height: 600px;
  background-color: #4371DC;
  border-radius: 24px;
}
/*# sourceMappingURL=style.css.map */